body
{
	font-size:75%;
	font-family:Verdana;
	background-color:#A8C5C0;
	color:#000000;
	margin:10px;
}

h1
{
	font-size: 150%;
	margin-top: 0.1cm;
	margin-bottom: 0.1cm;
	border-top: none;
	border-bottom: 1px solid #ffffff;
	border-left: none;
	border-right: none;
	padding-top: 0cm;
	padding-bottom: 0.05cm;
	padding-left: 0cm;
	padding-right: 0cm;
}

h2 
{
	font-size:125%;
	margin-top: 0.1cm;
	margin-bottom: 0.1cm;
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: none;
	padding-top: 0cm;
	padding-bottom: 0.05cm;
	padding-left: 0cm; 
	padding-right: 0cm;
}

p
{
	margin-top: 0.2cm;
	margin-bottom: 0.3cm;
	border: none;
	padding: 0cm;
	font-style: normal;
	page-break-after: avoid;
}